<script src="https://www.google.com/recaptcha/api.js{% if explicit %}?render=explicit{% if language %}&hl={{ language }}{% endif %}{% elif language %}?hl={{ language }}{% endif %}" async defer></script>
{% if explicit %}
<script>
    window.addEventListener('load', function() {
      var captchas = [].slice.call(document.querySelectorAll('.g-recaptcha'));

      captchas.map(function(el) {
        var containerID = el.id;
        var options = {'sitekey': el.dataset.sitekey};

        if (el.dataset.theme) {
          options.theme = el.dataset.theme;
        }
        if (el.dataset.type) {
          options.type = el.dataset.type;
        }
        if (el.dataset.size) {
          options.size = el.dataset.size;
        }
        if (el.dataset.tabindex) {
          options.tabindex = el.dataset.tabindex;
        }
        if (el.dataset.callback) {
          options.callback = el.dataset.callback;
        }
        if (el.dataset.expired_callback) {
          options.expired_callback = el.dataset.expired_callback;
        }
        grecaptcha.render(containerID, options);
      });
    });
</script>
{% endif %}
