<script src="https://www.google.com/recaptcha/api.js{% if explicit %}?render=explicit{% if language %}&hl={{ language }}{% endif %}{% elif language %}?hl={{ language }}{% endif %}" async defer></script>
{% if explicit %}
<script>
    window.addEventListener('load', function() {
      var captchas = [].slice.call(document.querySelectorAll('.g-recaptcha'));

      captchas.map(function(el) {
        var containerID = el.id;
        var options = {};
        Object.keys(el.dataset).forEach(function (key) {
          options[key] = el.dataset[key];
        });

        grecaptcha.render(containerID, options);
      });
    });
</script>
{% endif %}
